@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

.bordaprofileinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid #F8F9FA;
}


.Cimacardp {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23vw;
    gap: 10px;
    border: 1px solid #002aff;
}

.fotoprofileinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;

}

.fotopessoaperfil {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #6a1b9a;
}

.fotoprofileinfo strong {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #F8F9FA;
    margin-top: 8px;
}

.fotoprofileinfo span {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: #A0A0A0;
}

.primeiralinha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
    border: 1px solid #00a2ff;
}

.primeiralinha svg, .primeiralinha img {
    width: 28px;
    height: 28px;
    stroke: #A0A0A0;
    cursor: pointer;
}

.SalvarnaAgendabutton { 
    font-family: "Montserrat", sans-serif;
    height: 6vh;
    width: 8vw;
    padding: 12px 24px;
    background-color: #4d20b2;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.containerbotoesesvg {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Mediocardp {
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 15px;       
    width: 23vw;
    color: #DCDCDC;
    text-align: center;
    height: 10vh;
    font-size: 13px;
    flex-grow: 1;
    justify-content: center; 
    border:1px solid #00ff08;
}


.Mediocardp span {
    max-width: 100%; 
}

.barracimadescricao,
.barrabaixodescricao {
    height: 1px;
    width: 25vw;
    background-color: rgba(255, 255, 255, 0.2); 
}


.Baixocardp {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    width: 23vw;
    height: 30vh;       
    gap: 12px;    
    border: 1px solid #ff0000         
}

.Baixocardp button {
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    width: 20vw; 
    padding: 14px 20px;
    background-color: #6a1b9a;
    color: white;
    border: none;
    border-radius: 9999px; 
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    gap: 15px;
}

.Baixocardp button img {
    width: 24px;
    height: 20px;
    filter: invert(100%);
}

.segundalinha {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    padding: auto;
    gap: 70px;
    border: 1px solid #ff00c3;
}

.segundalinha button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #A0A0A0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.segundalinha button img {
    width: 30px;
    height: 50px;
    filter: invert(70%);
}

.segundalinha button:hover {
    color: #FFFFFF;
    transform: scale(1.1); 
}

.segundalinha button:hover img {
    filter: invert(100%);
}

.segundalinha button span {
    font-size: 10px;
    color: #ffffff;
    font-size: 12px;
}

.buttoniconcima {
    background-color: #000000;
    border: none;
}

.buttoniconcima span {
    color: #DCDCDC;
}