@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

.containerprofileinfo {
    height: 100%;
    width: 100%;
    border-radius: 24px;
}

.containerprofileinfop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vh;
}

.bordaprofileinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    gap: 2vh; 
    font-family: "Montserrat", sans-serif;
    border-radius: 24px;
    }


.Cimacardp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.fotoprofileinfo {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
    overflow: hidden;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.botao-trocar-foto {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #00000080;
    color: white;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.botao-trocar-foto:hover {
    opacity: 1;
}

.fotopessoaperfil {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


.containerbotoesesvg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.segundalinha {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.segundalinha a{
    display: block;
    width:  100%;
    text-decoration: none;
}

.primeiralinha {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.primeiralinha a {
    display: block;
    width: 100%;
    text-decoration: none;
}

.SalvarnaAgendabutton {
    font-family: "Montserrat", sans-serif;
    background-color: #00a0ba;
    color: white;
    border: none;
    border-radius: 9999px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    height: 50px;
    width: 130px;
}

.SalvarnaAgendabutton, .buttoniconcima, .segundalinha button, .Baixocardp button {
    transition: 0.3s ease;
}

.SalvarnaAgendabutton:hover, .Baixocardp button:hover{
    opacity: 0.8;
    transform: scale(102%);
}

.buttoniconcima:hover, .segundalinha button:hover {
    transform: scale(102%);
}

.SalvarnaAgendabutton:active, .buttoniconcima:active, .segundalinha button:active, .Baixocardp button:active{
    transform: scale(98%);
}



.buttoniconcima {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #bab7af;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    white-space: nowrap;
}

.botoeslogos {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #bab7af;
    font-size: 1.5vh;
    gap: 8px;
    font-family: "Montserrat", sans-serif;
}

.buttoniconcima svg, .buttoniconcima img, .segundalinha img {
    width: 22px;
    height: 22px;
    stroke: currentColor;
    filter: invert(70%);
}


.Mediocardp {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;        
    width: 99%;
    color: #bab7af;
    text-align: center;
    line-height: 1.6;
    font-size: 13px;
    height: 20%;
}

.inputnome,
.inputtitulo {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.nomeedi,
.tituloedi {
    color: #ffffff;
    background-color: #2a2a2a;
    text-align: center;
    padding: 1px;
    max-width: 250px;
}

.descricaoedi {
    text-align: center;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #bab7af;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    line-height: 1.6;
    resize: none;
    box-sizing: border-box;
}

.descricaoedi:focus {
    background-color: rgba(158, 130, 130, 0.05);
    border-radius: 5px;
}

.barracimadescricao,
.barrabaixodescricao {
    height: 1px;
    width: 100%;
    background-color: #2a2a2a;
}

.Baixocardp {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    width: 100%;

    gap: 15px; 
                
}

.inputbaixocard {
    width: 90%; 
    padding: 10px; 
    box-sizing: border-box;
    border: 2px solid #00a0ba;
    border-radius: 10px;
    background-color: #2a2a2a;
    outline: none;
    color: white;
    font-size: 14px;
}

.Baixocardp a {
    display: flex;
    justify-content: center;
    width: 100%;  
    text-decoration: none; 
}

.Baixocardp button {
    display: flex; 
    align-items: center;
    justify-content: flex-start; 
    width: 90%;
    height: 5vh;
    padding: 10px;
    box-sizing: border-box;
    background-color: #00a0ba; 
    color: white;
    border: none;
    border-radius: 12px; 
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    gap: 10px;
}

.Baixocardp button img {
    width: 24px;
    height: 24px;
    filter: invert(100%);
}