@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

.bordaprofileinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    gap: 1vh; 
    font-family: "Montserrat", sans-serif;
}


.Cimacardp {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 18vw;
    gap: 12px;
}

.fotoprofileinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
}

.fotopessoaperfil {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.fotoprofileinfo strong {
    font-size: 17px;
    font-weight: 700;
    color: #F8F9FA;
    margin-top: 8px;
}

.fotoprofileinfo span {
    font-size: 14px;
    color: #A0A0A0;
}

.containerbotoesesvg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.segundalinha {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.primeiralinha {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.SalvarnaAgendabutton {
    font-family: "Montserrat", sans-serif;
    background-color: #4d20b2;
    color: white;
    border: none;
    border-radius: 9999px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    height: 50px;
    width: 130px;
}

.SalvarnaAgendabutton, .buttoniconcima, .segundalinha button, .Baixocardp button {
    transition: 0.3s ease;
}

.SalvarnaAgendabutton:hover, .Baixocardp button:hover{
    opacity: 0.8;
    transform: scale(102%);
}

.buttoniconcima:hover, .segundalinha button:hover {
    transform: scale(102%);
}

.SalvarnaAgendabutton:active, .buttoniconcima:active, .segundalinha button:active, .Baixocardp button:active{
    transform: scale(98%);
}



.buttoniconcima {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #A0A0A0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    white-space: nowrap;
}

.segundalinha button {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #A0A0A0;
    font-size: 13px;
    gap: 8px;
    font-family: "Montserrat", sans-serif;
}

.buttoniconcima svg, .buttoniconcima img, .segundalinha img {
    width: 22px;
    height: 22px;
    stroke: currentColor;
    filter: invert(70%);
}


.Mediocardp {
    border: 1px solid #ababab;
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 15px;       
    width: 110%;
    color: #DCDCDC;
    text-align: center;
    line-height: 1.6;
    font-size: 13px;
    height: 22vh;
}

.barracimadescricao,
.barrabaixodescricao {
    height: 1px;
    width: 120%;
    background-color: #2a2a2a;
}

.Baixocardp {
    border: 1px solid #00ffd0;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    width: 100%;            
    gap: 15px;             
}

.Baixocardp button {
    display: flex; 
    align-items: center;
    justify-content: left;
    width: 100%; 
    padding: 14px;
    background-color: #2a2a2a;
    color: white;
    border: none;
    border-radius: 12px; 
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    gap: 15px;
    height: 50px;
    background-color: #4d20b2;
}

.Baixocardp button img {
    width: 24px;
    height: 24px;
    filter: invert(100%);
}